body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
    margin: 0;
    padding: 2rem;
}

h1 {
    margin-bottom: 2rem;
    color: #000;
}

.button-container {
    margin-bottom: 2rem;
}

.forca-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#LetraDisplay {
    font-size: 2em;
    letter-spacing: 10px;
}

#LetraEntrada {
    padding: 10px;
    font-size: 16px;
    width: 50px;
    text-align: center;
}

.button-forca {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

button {
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.jogo-container {
    display: none;
    padding: 2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.jogo-da-memoria {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.memory-card {
    width: 80px;
    height: 80px;
    background-color: #eee;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#btnReiniciarMemoria,
#btnReiniciarForca {
    margin-top: 20px;
    background-color: #28a745;
}

#btnReiniciarMemoria:hover,
#btnReiniciarForca:hover {
    background-color: #078524;
}

footer {
    background-color: #45034b;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);

}


